
.navbar-default {
    align-items: center;
    justify-content: left;
    background-color: steelblue;
    padding-left: 10px;
    padding-bottom: 15px;
}

.navbar-brand a:link, .navbar-brand a:visited, .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
    color: white;
    padding-left: 10px;
}

.chicken-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px black;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: lightgoldenrodyellow;
}

.flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: beige;
    
}

.flex-container div {
    display: row;
    justify-content: center;
    align-items: center;
    
}
.chicken {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 3em;
    padding-left: 500px;
    padding-right: 500px;
    
    
}
.ourmenu {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: aliceblue;
    margin-bottom: 0px;

}

.flex-container-2 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: beige;
    
}

.beef-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px black;
    border-top: none;
    border-left: none;
    border-right: none;

    background-color: burlywood;
}

.beef {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 3em;
    padding-left: 500px;
    padding-right: 500px;

    
}

.flex-container-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px black;
    border-left: none;
    border-right: none;
    border-bottom: none;
    background-color: beige;
    
}

.salmon-title {
    display: flex;
    align-items: center;
    justify-content: center;
    border: solid 2px black;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: salmon;
}

.salmon {
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 3em;
    padding-left: 500px;
    padding-right: 500px;
    
    
}
/*

#nav-list {
    margin-top: 10px;
}

#nav-list a {
    color: #951C49;
    text-align: center;
}

#nav-list a:hover {
    background: #E7E7E7;
}

#header-nav {
    background-color: #f6b319;
    border-radius: 0;
    border: 0;
}

#logo-img {
    background: url('../images/loaf.jpg') no-repeat;
    width: 150px;
    height: 150px;
    margin: 10px 15px 10px 0;
    float: left;
}

.navbar-brand {
    padding-top: 25px;
    text-decoration: none;
}

.navbar-brand h1 {
    color: #557c3e;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    text-shadow: 1px 1px 1px #222;
    margin-top: 2em;
    margin-bottom: 0;
    line-height: .75;
}

.navbar-brand a:link, .navbar-brand a:visited, .navbar-brand a:hover, .navbar-brand a:focus {
    text-decoration: none;
}

.menutext {
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: bold;
    
}

@media (min-width: 768px) {
    .navbar-toggle {
        display: none;
    }
}